<div class="container">
  <div class="row mt-5">
    <div class="col-md-5">
      <h1 id="main-heading">Services</h1>
      <p class="topic-defination">
        A service is a typescript class and a reusable code which can be used in
        multiple components. <br />
        Services can be implemented with the help of Dependency Injection.
      </p>
      <h3 id="sub-heading mt-3">How to create Service</h3>
      <div class="types mt-3 mb-5">
        <p>ng g services ServiceName</p>
      </div>
    </div>
    <div class="offset-sm-1 col-md-6">
      <div class="row">
        <h1 class="topic-heading">
          What is the role of @Injectable Decorator? How to use one service
          inside another service?
        </h1>
        <p class="topic-definatin mb-5"></p>
      </div>
    </div>
  </div>
</div>
